body {
  font-family: "Hiragino Kaku Gothic ProN";
}

nav {
  height: 80px;
  opacity: 0.6;
}

.navbar-header a {
  font-size: 60px;
  padding: 26px 30px 0 30px;
}

.navbar-right li {
  font-size: 40px;
  padding: 16px 30px 0 0;
}

.top-wrapper {
  padding: 300px 0 300px 0;
  text-align: center;
  background-image: url("../top-background.jpg");
  background-color: black;
  background-size: cover;
  color: white;
  height: 900px;
}

.top-wrapper h1 {
  font-size: 100px;
  letter-spacing: 10px;
  color: white;
}

.top-wrapper h2 {
  font-size: 30px;
}

.top-wrapper .btn {
  opacity: 0.9;
  margin-top: 50px;
  padding: 10px;
  font-size: 20px;
}

.about-wrapper {
  height: 400px;
  text-align: center;
}

.mission-wrapper {
  height: 500px;
  background: black;
  text-align: center;
  color: white;
}

.mission-wrapper h1 {
  letter-spacing: 5px;
  width: 500px;
  padding: 30px;
  margin: 50px auto;
  border-bottom: 1px solid gray;
}

.mission-wrapper h4 {
  margin: 50px auto;
}

.contact-wrapper { 
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-wrapper h1 {
  letter-spacing: 5px;
  width: 500px;
  padding: 30px;
  margin: 50px auto;
  border-bottom: 1px solid gray;
}

.contact-wrapper h4 {
  padding: 20px 0;
}