h1 {
  text-align: center;
  margin-top: 50px;
}

#time-card {
  font-size: 400px;
  text-align: center;
  border: 1px solid black;
}

#timer {
  font-size: 30px;
  text-align: center;
}

.btn-wrapper button {
  padding: 10px;
  font-size: 40px;
  margin: 10px auto;
}