h1 {
  text-align: center;
  margin-top: 50px;
}

#time-card {
  font-size: 400px;
  text-align: center;
  border: 1px solid black;
}

#timer {
  font-size: 30px;
  text-align: center;
}

.btn {
  padding: 5px;
  font-size: 40px;
}

#setSecond {
  padding: 33px;
  font-size: 30px;
  width: 100%;
}

.button-wapper {
  padding: 10px;
}