body {
  background: #222;
  color: white;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.topic {
  font-size: 48px;
  border: 1px solid white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.btn-wrapper button {
  padding: 10px;
  font-size: 40px;
  margin: 10px auto;
}